.grid-container {
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	border-radius: 2px;
	height: 100%;
}

ktd-grid-item {
  color: #121212;
}

ktd-grid {
  transition: height 500ms ease;
}